body {
  text-align: center;
  font-family: 'VT323', monospace;
}

hr {
  margin: 25px 250px 25px 250px;
}

.fab, .fas {
  font-size: 50px;
  padding: 20px;
}

.fab:hover, .fas:hover {
  font-size: 50px;
  padding: 20px;
  color: rgb(138, 230, 169);
}

.header {
  color: rgb(138, 230, 169);
  text-shadow: 2px 2px black;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  flex: 1;
}
